/breakerbot/**/*.o
/breakerbot/bin/*
webserver/node_modules/
webserver/css/
eclipse/Debug
eclipse/breakerbot.launch
eclipse/.cproject
eclipse/.project
eclipse/.settings
eclipse/main
webserver/client/ip.txt

