body {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dev-container {
  position: absolute;
  z-index: 999;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1000px;
  text-align: center;
  margin: 25px auto;
  .panel {
    border: 2px red dotted;
    position: relative;
    display: inline-block;
    min-height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    // border: solid #ff0000 10px;
    &.panel-left {
      max-width: 17.25%;
      height: 100%;
      .position-container {

      }
      .status-container {
        .status {
          display: inline-block;
          text-align: center;
          width: 100px;
          height: 100px;
          border-radius: 75px;
          font-size: 10px;
          color: #000;
          line-height: 100px;
          background: #00ff00;
        }
       } 
      .alignment-positions{
        display: inline-block;
        position: relative;
        top: 92px;
       } 
       #breakerbot {
        position: relative;
        top: 50px:
        left: 50px:
        -webkit-transform: rotate(45deg);
       }

       #cubicle {
        max-width:100%;
        position: relative;
        padding-right: 10px;
       }
    }
    &.panel-middle {
      max-width: 65%;
      min-width: 630px;
      .video-container {
        margin: 0 auto;
        width: 50%;
        min-width: 600px;
        position: relative;
        .watermark {
          position: absolute;
          top: 20px;
          right: 20px;
          img {
            width: 100px;
            height: auto;
            opacity: 0.5;
          }
        }
        .basic-info-container {
          position: absolute;
          left: 20px;
          top: 20px;
          // keep it simple, less styling the better
          // width: 400px;
          // height: 50px;
          // margin: 20px auto;
          // padding: 20px;
          // border: solid #ff0000 10px;
          img {
            height: 25px;
            width: auto;
          }
        }
        #alignment-instructions {
          position: absolute;
          bottom: 0;
          width: calc(100% - 4px);
          height: 50px;
          line-height:50px;
          background-color: rgba(255,255,255,0.5);
          margin: 0px 2px 6px;
        }
        #canvas-video {
          border: 2px #aaaaaa solid;
          background-color: #dddddd;
          width: 100%;
          height: auto;
        }
      }
      .mode-container {
        .mode {
          height: 150px;
          width: 100%;
        }
        .auto {
          display: none;
          .alignment-mode-container {
            margin: 0 auto;
            display: inline-block;
            .alignment-status {
              text-align: center;
              line-height: 100px;
              font-size: 10px;
              width: 100px;
              height: 100px;
              border-radius: 75px;
              color: #000;
              background: #00ff00;
            }
            img {
              width: 200px;
              height: auto;
            }
          }
        }
        .manual {
          display: block;
          .control-container {
            position: relative;
            .connect {
              position: absolute;
              margin: 0 auto;
              width: 100%;
              margin-top: 54px;
            }
            .controls {
              width: 100%;
              margin: 5px auto;
              opacity: 0.2;
              -webkit-transition: opacity 500ms ease-out;
              -moz-transition: opacity 500ms ease-out;
              -o-transition: opacity 500ms ease-out;
              transition: opacity 500ms ease-out;
              .joystick {
                position: relative;
                display: inline-block;
                width: 100px;
                height: 100px;
                margin: 10px;
                margin-left: 30px;
                background: #aaaaaa;
                border-radius: 100%;
                .pos {
                  position: absolute;
                  margin-left: 25px;
                  margin-top: 25px;
                  width: 50px;
                  height: 50px;
                  background: #333333;
                  border-radius: 100%;
                }
              }
              .cartesian {
                vertical-align: top;
                display: inline-block;
                padding: 0 20px;
                .command {
                  height: 30px;
                  width: 60px;
                  line-height: 30px;
                  margin: 3px auto;
                  background-color: #aaaaaa;
                  &.left,
                  &.right,
                  &.x_button,
                  &.b_button {
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.panel-right {
      max-width: 17.25%;
      .output-container {
        // changing this to relative (relative position by default)
        // position: absolute;
        // top: 100px;
        // right: 30px;
        // width: 300px;
        // height: 400px;
        margin: 20px auto;
        padding: 20px;
      }
      #stop {
        background:none;
        border:none;
        position: relative;
        width: 100px;
        color: #000000;
        height: 100px;
        background: red;
        margin: 0 auto;
        cursor: pointer;
      }
      #stop:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 29px solid red;
        border-left: 29px solid #fff;
        border-right: 29px solid #fff;
        width: 42px;
        height: 0;
      }
      #stop:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 29px solid red;
        border-left: 29px solid #fff;
        border-right: 29px solid #fff;
        width: 42px;
        height: 0;
      }
    }
  }
}
