body {
  font-size: 16px;
  // background: -moz-linear-gradient(left, #adadad 0%, #ffffff 50%, #adadad 100%);
  // background: -webkit-linear-gradient(left, #adadad 0%,#ffffff 50%,#adadad 100%);
  // background: linear-gradient(to right, #adadad 0%,#ffffff 10%,#ffffff 90%,#adadad 100%);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.dev-container {
  position: absolute;
  z-index:999;
}
#Menu{
  background-color: #FF0000;
}

.position-container{
  position: absolute;
  top: 100px;
  left: 75px;
  width: 200px;
  height: 350px;
  margin: 20px auto;
  padding: 20px;
  border: solid #ff0000 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


}

.wrapper {
  text-align: center;
  margin: 5px auto;
  .video-container {
    margin: 0 auto;
    width: 49%;
    min-width: 640px;
    position: relative;
    .watermark {
      position: absolute;
      top: 20px;
      right: 20px;
      img {
        width: 100px;
        height: auto;
        opacity: 0.5;
      }
    }
    #canvas-video {
      border: 2px #aaaaaa solid;
      background-color: #dddddd;
      width: 100%;
      height: auto;
    }
  }
  .mode-container {
    .mode {
      height: 150px;
      width: 100%;
    }
    .manual {
      display: block;
    }
    .auto {
      display: none;
    }
  }
  .control-container {
    position: relative;
    width: 49;
    .connect {
      position: absolute;
      margin: 0 auto;
      width: 100%;
      margin-top: 54px;
    }
    .controls {
      width: 100%;
      margin: 5px auto;
      opacity: 0.2;
      -webkit-transition: opacity 500ms ease-out;
      -moz-transition: opacity 500ms ease-out;
      -o-transition: opacity 500ms ease-out;
      transition: opacity 500ms ease-out;
      .joystick {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 10px;
        margin-left: 30px;
        background: #aaaaaa;
        border-radius: 100%;
        .pos {
          position: absolute;
          margin-left: 25px;
          margin-top: 25px;
          width: 50px;
          height: 50px;
          background: #333333;
          border-radius: 100%;
        }
      }
      .cartesian {
        vertical-align: top;
        display: inline-block;
        padding: 0 20px;
        .command {
          height: 30px;
          width: 60px;
          line-height: 30px;
          margin: 3px auto;
          background-color: #aaaaaa;
          &.left,
          &.right,
          &.x_button,
          &.b_button {
            display: inline-block;
          }
        }
      }
    }
  }
}
